

h1 {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #fec500;
    padding-left: 10px;
    margin-bottom: 30px
}

.carte {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.card-img-top{
    object-fit: cover;
}

